# Logs
logs
*.log
npm-debug.log*

# JSCover
lib-cov

# istanbul
coverage

node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Distribution
dist/public
dist/.netlify
dist/robot.txt

.DS_*

package-lock.json
dump.*
